@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}

.remove-account-container {
    display: inline-block;
    position: relative;
}

.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}

.login-page .login-box {
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 2px #CCC;
    padding: 15px;
}

.login-box {
    border: 1px solid rgb(117, 100, 100);
    border-radius: 5px;
    padding: 35px;
    background-color: rgb(62, 62, 62);
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.tab-content {
    margin: 20px;

}

.page-header {
    color: #428bca;
}