<section class="prepend-top-10" ng-init="init()">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <button class="btn btn-info" ng-click="socket.emit('join-multiplier', {});"  style="margin-right: 2%;">Join</button>
        <button class="btn btn-warning"  ng-click="socket.emit('start-game', {});">Start</button>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
        <div style="height:50vh; background-color: #0a0a0a" name="planeparent">
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label>Framerate:</label>
        <pre style="width: 100px">{{ average.toFixed(2) }}</pre>
    </div>
</section>
