<section data-ng-controller="HomeController">
	<div class="text-center">
		<div class="row">
			<div class="col-md-12 text-center">
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
				<img alt="Plane Game" class="hidden-xs" src="modules/core/img/brand/logo.png" style="margin:5% auto;"/>
                <img alt="Plane Game" class="visible-xs" src="modules/core/img/brand/favicon.icon" style="margin:5% auto;"/>
			</div>
		</div>
	</div>

</section>
