<section class="row col-lg-12  col-md-10  col-sm-8  col-xs-8 "
         data-ng-init="adminCheck()">
    <div class="panel panel-primary" data-ng-if="allowAdminCreate === true">
        <div class="panel-heading">Main Admin User</div>
        <div class="panel-body">
            <div class="row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                <form name="userCreateForm" data-ng-submit="createUser()" class="createuser form-horizontal" novalidate
                      autocomplete="off">
                    <fieldset>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" focus="true"
                                   data-ng-model="credentials.firstName" placeholder="First Name" required>

                            <div class="error" ng-show="userCreateForm.firstName.$invalid">
                                <p ng-show="userCreateForm.firstName.$error.required" class="help-block">First name is
                                    required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control"
                                   data-ng-model="credentials.lastName" placeholder="Last Name" required>

                            <div class="error" ng-show="userCreateForm.lastName.$invalid">
                                <p ng-show="userCreateForm.lastName.$error.required" class="help-block">Last name is
                                    required.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control"
                                   data-ng-model="credentials.username" placeholder="Username" maxlength="20" required>

                            <div class="error" ng-show="userCreateForm.username.$invalid">
                                <p ng-show="userCreateForm.username.$error.required" class="help-block">Username is
                                    required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   data-ng-model="credentials.password" data-ng-minlength=7 placeholder="Password"
                                   required>

                            <div class="error" ng-show="userCreateForm.password.$invalid">
                                <p ng-show="userCreateForm.password.$error.required" class="help-block">Password is
                                    required.</p>

                                <p ng-show="userCreateForm.password.$error.minlength" class="help-block">Password is
                                    required to be at least 7 characters</p>
                            </div>
                        </div>
                        <div class="text-center form-group">
                            <button type="button" data-ng-click="cancel()" class="btn btn-lg btn-danger">Cancel</button>
                            <button type="submit" ng-disabled="userCreateForm.$invalid" class="btn btn-lg btn-primary">
                                Save
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>


        </div>


    </div>
</section>
